<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Privacy Policy</title>
    <link rel="icon" type="image/png" href="images/icon.png" />
    <style>
        body{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding:1em;}
    </style>
</head>
<body>
    <h2><%= pageTitle %></h2>
    <p>
        This privacy policy has been compiled to better serve those who are concerned with how
        their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US
        privacy law and information security, is information that can be used on its own or with
        other information to identify, contact, or locate a single person, or to identify an individual
        in context.
    </p>
    <p>
        Please read our privacy policy carefully to get a clear understanding of how we
        collect, use, protect or otherwise handle your Personally Identifiable Information in
        accordance with our service.
    </p>
    <p>
        If you choose to use our Service, then you agree to the collection and use of information in relation
        to this policy. The Personally Identifiable Information that we collect is used for providing and improving the
        Service and your experience. We will not use or share your information with anyone except as described
        in this Privacy Policy.
    </p>
    <p>
        <strong>Information Collection and Use</strong></p>
    <p>
        For a better experience, while using our Service, we may request you to provide us with certain
        personally identifiable information, including, but not limited to, your name, email address, phone number, mailing address. The information that we request will be retained by us and used as described in this privacy policy.
    </p>
        <strong>Log Data</strong>
    </p>
    <p>
        We want to inform you that whenever you use our Service, in a case of an
        error in the app we collect data and information (through third party products) on your phone
        called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address,
        device name, operating system version, the configuration of the app when utilizing our Service,
        the time and date of your use of the Service, and other statistics.
    </p>
    <p>
        <strong>Cookies</strong>
    </p>
    <p>
        Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These
        are sent to your browser from the website that you visit and are stored on your device internal memory.
    </p>
    <p>
        We do not use cookies for tracking purposes.
    </p>
    <p>
        <strong>Service Providers</strong>
    </p>
    <p>
        We may employ third-party companies and individuals due to the following reasons:
    </p>
    <ul>
        <li>To facilitate our Service;</li>
        <li>To provide the Service on our behalf;</li>
        <li>To perform Service-related services; or</li>
        <li>To assist us in analyzing how our Service is used.</li>
    </ul>
    <p>
        We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable
        Information unless we provide users with advance notice. This does not include the service's
        hosting partners and other parties who assist us in operating our service, conducting our
        business, or serving our users, so long as those parties agree to keep this information
        confidential. We may also release information when its release is appropriate to comply with
        the law, enforce our service policies, or protect ours or others' rights, property or safety.
    </p>
    <p>
        However, non-personally identifiable visitor information may be provided to other parties
        for marketing, advertising, or other uses.
    </p>
    <p>
        <strong>Security</strong>
    </p>
    <p>
        We value your trust in providing us your Personal Information, thus we are striving
        to use commercially acceptable means of protecting it. But remember that no method of transmission over
        the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee
        its absolute security.
    </p>
    <p>
        <strong>Third-Party Links</strong></p>
    <p>
        This Service does not include or offer third-party products or services.
    </p>
    <p>
        <strong>Children’s Privacy</strong>
    </p>
    <p>
        These Services do not address or market to anyone under the age of 13. We do not knowingly collect
        personally identifiable information from children under 13. In the case we discover that a child
        under 13 has provided us with personal information, we immediately delete this from
        our servers. If you are a parent or guardian and you are aware that your child has provided us with personal
        information, please contact us so that we will be able to do necessary actions.
    </p>
    <p>
        <strong>Fair Information Practices</strong>
    </p>
    <p>
        The Fair Information Practices Principles form the backbone of privacy law in the United
        States and the concepts they include have played a significant role in the development of
        data protection laws around the globe. Understanding the Fair Information Practice
        Principles and how they should be implemented is critical to comply with the various
        privacy laws that protect personal information.
    </p>
    <p>
        In order to be in line with Fair Information Practices we will take the following responsive
        action, should a data breach occur:<br/>
        We will notify you via letter<br/>
        • Within 7 business days
    </p>
    <p>
        We also agree to the Individual Redress Principle which requires that individuals have the
        right to legally pursue enforceable rights against data collectors and processors who fail to
        adhere to the law. This principle requires not only that individuals have enforceable rights
        against data users, but also that individuals have recourse to courts or government agencies
        to investigate and/or prosecute non-compliance by data processors.
    </p>
    <p>
        <strong>Changes to This Privacy Policy</strong>
    </p>
    <p>
        We may update our Privacy Policy from time to time. Thus, you are advised to review
        this page periodically for any changes. We will notify you of any changes by posting
        the new Privacy Policy on this page. These changes are effective immediately after they are posted on
        this page.
    </p>
    <p>
        <strong>Contact Us</strong>
    </p>
    <p>
        If there are any questions regarding this privacy policy, you may contact us using the
        chatbot service itself.
    </p>
    <p>
</body>
</html>
